<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<bean class="com.iss.aspect.JobLogAspect" />
	<bean class="com.iss.aspect.DataSourceAspect">
		<property name="componentScan" value="com.iss.platform" />
	</bean>
	<aop:aspectj-autoproxy />
	<!-- <aop:config>
		<aop:pointcut id="dataSourceAspect" expression="execution(* org.spring.ibatis.*.service.*.insert*(..))||
					execution(* org.spring.common.service.impl.*.insert*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="fooServiceMethods" />
		<aop:aspect id="loggerPointCut" ref="loggerProxy" >
			<aop:around method="around" pointcut-ref="fooServiceMethods"/>
		</aop:aspect>
	</aop:config> -->
</beans>
